# Setup

In [ ]:
# Importing all the necessary libraries
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Mounting drive to colab, for detailed instructions, see: https://colab.research.google.com/notebooks/snippets/drive.ipynb
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Loads the data based on where it is stored on your personal drive
# https://www.kaggle.com/datasets/ahmedshahriarsakib/usa-real-estate-dataset/data
ds_path = 'path/to/your/data/'
filename = 'your_data_file_name.csv'
ds_original = pd.read_csv(os.join(ds_path, filename))

In [ ]:
# Take a look at the 1st 10 rows in the data
ds_original.head(10)

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0
5,for_sale,4.0,3.0,0.46,San Sebastian,Puerto Rico,612.0,2520.0,NaN,179000.0
6,for_sale,3.0,1.0,0.20,Ciales,Puerto Rico,639.0,2040.0,NaN,50000.0
7,for_sale,3.0,2.0,0.08,Ponce,Puerto Rico,731.0,1050.0,NaN,71600.0
8,for_sale,2.0,1.0,0.09,Ponce,Puerto Rico,730.0,1092.0,NaN,100000.0
9,for_sale,5.0,3.0,7.46,Las Marias,Puerto Rico,670.0,5403.0,NaN,300000.0

# Data Cleaning

Our goal is to clean the invalid values in the dataset
While there are many reliable methods of dealing with missing values, they do require more advanced techniques. For now, we will only remove the rows containing missing values.

In [ ]:
# Make a copy of the original dataset
# All cleaning with be done in ds_cleaned only
ds_cleaned = ds_original.copy()

In [ ]:
# Checking how many NaN values are there on each column
print("Column vs Percent of Values that are NaN \n")
for column in ds_original.columns:
    nan_count = ds_original[column].isna().sum()
    print(f"{column}: {round(nan_count/len(ds_original)*100, 2)}%")

Column vs Percent of Values that are NaN

status: 0.0%
bed: 14.35%
bath: 12.58%
acre_lot: 29.46%
city: 0.01%
state: 0.0%
zip_code: 0.02%
house_size: 32.36%
prev_sold_date: 50.73%
price: 0.01%

In [ ]:
# Let's stick with the naive approach of dealing with missing values - simply remove them
# We can do this since we have a lot of data available
print("Total number of rows in the dataset:", len(ds_original))

Total number of rows in the dataset: 904966

In [ ]:
# Delete the "prev_sold_date" as it has a lot of NaN values
del ds_cleaned['prev_sold_date']

In [ ]:
# Now, drop all rows where NaN values are present
ds_cleaned = ds_cleaned.dropna()

In [ ]:
# Check for missing values again
print("Column vs Percent of Values that are NaN \n")
for column in ds_cleaned.columns:
    nan_count = ds_cleaned[column].isna().sum()
    print(f"{column}: {round(nan_count/len(ds_cleaned)*100, 2)}%")

Column vs Percent of Values that are NaN

status: 0.0%
bed: 0.0%
bath: 0.0%
acre_lot: 0.0%
city: 0.0%
state: 0.0%
zip_code: 0.0%
house_size: 0.0%
price: 0.0%

In [ ]:
# Now ds_cleaned is the fully cleaned data
ds_cleaned.head(5)

,status,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,145000.0
5,for_sale,4.0,3.0,0.46,San Sebastian,Puerto Rico,612.0,2520.0,179000.0

In [ ]:
# However, notice that we lost over half of our data
print("Total number of rows in the dataset:", len(ds_cleaned))

413083

We still have 400k rows, so we will be able to perform our analysis.

# Q1) How expensive is a typical house in New Jersey?

Stay tuned for next Thursday :)